.navbar {
  padding: 0.5rem 1rem;
  display: flex;
  justify-content: flex-end; 
}

.navList {
  list-style: none;
  display: flex;
  gap: 1rem;
  margin: 0;
  padding: 0;
}

.link {
  color: black;
  text-decoration: none; 
  font-weight: 500;
}

.active {
  border-bottom: 2px solid blue; 
  color: rgb(12, 12, 12);
  text-decoration: none; 
}

.navList li {
  display: flex;
  align-items: center;
}
